<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>勉強会用課題演習システム</title>
        <style>
            body{
                padding: 10px;
                background-color: rgb(246, 246, 246);
            }
        </style>
    </head>
    <body>
        <h2>勉強会用課題演習システム</h2>
        <a href="/showsyusseki">出席状況</a>|<a href="/showkadai">課題提出状況</a>|<a href="/showshitsumon">質問状況</a>|<a href="/resetkadai">課題をリセットする</a>
    </body>
</html>